@model IEnumerable<JSLZ_MVC_Escuela.Models.Calificaciones>

@{
    ViewBag.Title = "agregarCalificacion";
}

<h2>agregarCalificacion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semestre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alumnos.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materias.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alumnos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materias.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Calificacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Calificacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Calificacion })
        </td>
    </tr>
}

</table>
