
@{ 
    var ses = Session["rol"] as string;

    if (ses != "2")
    {
       
    }

}


@model IEnumerable<DTO.Calificaciones_DTO>
@{
    ViewBag.Title = "agregarCalificacion";
}

<h2>agregarCalificacion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Alumno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semestre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Alumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>

        </tr>
    }

</table>
