@model IEnumerable<DTO.Calificaciones_DTO>
    @{ 
        ViewBag.Title = "Calificaciones de Alumnos";
    }

<main>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
        </tr>

        @foreach (var item in Model)
        { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Alumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>

        </tr>
        
        
        
        
        
        }
    </table>

</main>

